/* Custom Styles  */
#ui5Logo {
  padding-left: 10px;
}
#myproLink {
  color: #ffffff;
}
#myproLinkLP {
  color: #ffffff;
}
.welcomeText {
  font-size: 1.0rem;
  margin: 2rem;
}

.qrCode {
  cursor:pointer;
}

.questionTitle{
  font-weight: bold;
}

svg rect:hover {
  fill: orangered;
}

div.multipleListItemInput input {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.fullWidthTextField{
  width:100%
}
