/* Custom Styles  */
#ui5Logo {
  padding-left: 10px;
}
#myproLink {
  color: #ffffff;
}
#myproLinkLP {
  color: #ffffff;
}
.welcomeText {
  font-size: 1.0rem;
  margin: 2rem;
}

.qrCode {
  cursor:pointer;
}

.questionTitle{
  font-weight: bold;
}

svg rect:hover {
  fill: orangered;
}

div.multipleListItemInput input {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}


.sapMInputBaseInner.sapMInputBaseReadonlyInner.sapMTextAreaInner {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.fullWidthTextField{
  width:100%
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}